<h1>We are the Champions</h1>

<ul>
  <li><%= image_tag 'champions/kapablanka.jpg' %>
    <ul>
      <li><%= @champions[0][0] %></li>
      <li>Годы Жизни: <%= @champions[0][1] %></li>
      <li>Годы чемпионства: <%= @champions[0][2] %></li>
    </ul>
  </li>
  <li><%= image_tag 'champions/smislov.jpg' %>
    <ul>
      <li><%= @champions[1][0] %></li>
      <li>Годы Жизни: <%= @champions[1][1] %></li>
      <li>Годы чемпионства: <%= @champions[1][2] %></li>
    </ul>
  </li>
  <li><%= image_tag 'champions/spasskiy.jpg' %>
    <ul>
      <li><%= @champions[2][0] %></li>
      <li>Годы Жизни:<%= @champions[2][1] %></li>
      <li>Годы чемпионства: <%= @champions[2][2] %></li>
    </ul>
  </li>
</ul>