<h1> Hello Players!</h1>
<p>Текущее время: <%= @time %></p>
<br>
<br>
<h3>Введите данные вашего чемпиона:</h3>

<%= form_for :player, url: form_path do |form| %>
  <%= form.text_field :name %>
  <%= form.text_field :lastname %>
  <%= form.text_field :birth_year %>
  <%= form.text_field :birth_year %>
  <%= form.text_field :champs_year %>
  <%= form.submit %>
<% end %>